* {
    margin: 0;
    padding: 0;
}

.start {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(246, 240, 210);
    z-index: 10;
}

.start1,
.start2 {
    z-index: 10;
    display: none;
}

@keyframes movex {
    0% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(-100vh);
        visibility: hidden;
    }

}

.startone {
    width: 100vw;
    height: 60vw;
    background: url(./img/帘子.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.starttwo {
    width: 100vw;
    height: 100vw;
    background: url(./img/龙2024.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-20px);

}

#style1 {
    position: absolute;
    transform: translate(50vw, 80vh) translateX(-50%);
    background-color: rgb(232, 13, 9);
    width: 35vw;
    height: 15vw;
    border: 5px solid #fca104;
    border-radius: 4vw;
    font-size: 25px;
    font-family: 华文行楷, Arial, Lucida Grande, Tahoma, sans-serif;
    z-index: 10;
}

#style2 {
    display: none;
}

@media screen and (min-width:700px) {
    .start {
        display: none;
    }

    .start1 {
        width: 50vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(246, 240, 210);
        display: flex;
        justify-content: right;
    }

    @keyframes move1 {
        0% {
            transform: translateX(0vw);

        }

        100% {
            transform: translateX(-50vw);
            visibility: hidden;
        }
    }

    .start2 {
        width: 50vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(246, 240, 210);
        display: flex;
        justify-content: left;

    }

    @keyframes move2 {
        0% {
            transform: translateX(0vw);

        }

        100% {
            transform: translateX(50vw);
            visibility: hidden;
        }
    }

    .startthree {
        width: 50vh;
        height: 100vh;
        background: url(./img/龙2024.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .startfour {
        width: 50vh;
        height: 100vh;
        background: url(./img/龙2024.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }

    #style1 {
        display: none;
    }

    #style2 {
        display: block;
        position: absolute;
        transform: translate(50vw, 54vh) translateX(-50%);
        background-color: rgb(232, 13, 9);
        width: 19vh;
        height: 19vh;
        border: 7px solid #fca104;
        border-radius: 10vh;
        font-size: 35px;
        letter-spacing: 2px;
        font-family: 华文行楷, Arial, Lucida Grande, Tahoma, sans-serif;
        z-index: 10;
    }
}

/**********************************************************开始界面*************************/


body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgb(252, 161, 4);

}

header {
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 2;

    .frist {
        display: flex;

        .mid {
            height: 90px;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .all {
            width: 10%;

            img {
                width: 100%;
                height: 90px;
            }
        }

        .left {
            transform: rotateX(180deg);
        }

        .right {
            transform: rotate(180deg);
        }
    }

    .second {
        display: flex;
        justify-content: space-between;

        .left {
            height: 14%;
            width: 25%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .right {
            height: 180px;
            width: 45%;
            float: right;

            img {
                width: 100%;
                height: 100%;
            }

            transform: translate(10px, -20px);
        }
    }

}

.other1 {
    background: url(./img/640.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 5px;
    right: -100px;
    z-index: 1;
    animation: rotate 6s infinite linear;
}

.other2 {
    background: url(./img/640.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 65vw;
    height: 65vw;
    position: absolute;
    bottom: 45vh;
    left: -20vw;
    z-index: 1;

}

.other3 {
    background: url(./img/640.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80vw;
    height: 80vw;
    position: absolute;
    bottom: -40vw;
    right: -40vw;
    z-index: 1;
    animation: rotate 20s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.fu {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(./img/福字.jpg) no-repeat;
    background-size: contain;
    top: 20vh;
    left: 40vw;
    animation: shake 2s infinite linear;
    z-index: 3;
}

@keyframes shake {
    0% {
        transform: rotate(-7deg);
    }

    50% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(-7deg);
    }
}

.greeting {
    position: absolute;
    background-color: rgb(232, 13, 9);
    width: 200px;
    padding: 5px 2px;
    text-align: center;
    font-size: 30px;
    font-family: 华文行楷, Arial, Lucida Grande, Tahoma, sans-serif;
    animation: moveAndFade 4s forwards;
    z-index: 3;

}

@keyframes moveAndFade {
    0% {
        left: 0;
        opacity: 1;
    }

    40% {
        left: 30vw;
        opacity: 1;
        transform: scale(0.8);
    }

    100% {
        left: 100vw;
        opacity: 0;
        transform: scale(0);
    }
}








main {
    width: 100%;
    position: relative;
    z-index: 2;

    .home {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .body {
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;

            img {
                width: 200px;
                height: 70px;


            }

            .bottom {
                transform: translateY(-10px);
                display: flex;

                .mid {
                    width: 180px;
                    height: 180px;
                    transform: translate(-3px, -5px);
                }

                .right {
                    width: 60px;
                    height: 150px;
                    transform: translate(-10px, 5px);
                }

                .left {
                    width: 60px;
                    height: 150px;
                    transform: translate(10px, 5px);

                }
            }

        }

        .box {

            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translate(0, -30px);

            #sanzi {
                width: 60px;
                height: 60px;
                position: absolute;
                background: url(./img/扇子.png) no-repeat;
                background-size: contain;
                transform: translate(42px, -16px) rotate(30deg);

            }

            #lantern {
                width: 30px;
                height: 60px;
                position: absolute;
                background: url(./img/小灯笼.png) no-repeat;
                background-size: contain;
                bottom: -45px;
                left: -8px;
            }

            .ex {
                display: none;
            }

            p {
                margin: 1px;
                font-family: "阿里妈妈刀隶体 Regular";
                font-weight: 600;
                font-size: 60px;
                color: rgb(170, 56, 30);
            }

            #textone {
                font-size: 50px;
                letter-spacing: 10px;
            }


            .countdown {
                width: 100%;
                text-align: center;

                button {
                    width: 100%;
                    border-radius: 20px;
                    background: rgb(252, 161, 4);
                    background-size: 400%;
                    border-style: none;
                    display: flex;
                    justify-content: space-around;

                    .over {
                        width: 70px;
                        height: 70px;
                        background: url(./img/环.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    div,
                    a {
                        display: inline-block;
                        font-size: 40px;
                        font-family: "阿里妈妈灵动体 VF Thin";
                    }

                    a {
                        text-decoration: none;
                    }

                    .two,
                    .one {
                        width: 50px;
                        height: 50px;
                        background-image: conic-gradient(red 0deg, red 90deg, black 90deg, black 360deg);
                        border-radius: 50%;
                        transform: translate(0, -3px);

                    }

                    .back {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: hsl(0, 0%, 100%);
                        transform: translate(10px, 10px);
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }


                }
            }
        }
    }
}

a:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    from {
        background-position: 0%;
    }

    to {
        background-position: 400%;
    }
}

a::before {
    content: '';
    position: absolute;
    inset: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 20px;
    opacity: 0;
}

a:hover::before {
    filter: blur(10px);
    opacity: 1;
    animation: animate 8s linear infinite;
}



footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 3;

    img {
        width: 100%;
        height: 90px;
        transform: translateX(-8px);
    }

    .all {

        width: 10%;

        img {
            width: 100%;
            height: 90px;
        }
    }

    .right {
        transform: rotateY(180deg);
    }
}

.all {
    display: none;
}


#cross {
    pointer-events: none;
    width: 100%;
    z-index: 3;
    position: relative;

    #man {
        position: relative;
        background: url(./img/财神.png) no-repeat;
        background-size: cover;
        width: 90px;
        height: 70px;
        transform: translate(20vh, -10vh);
        z-index: 3;
        animation: move 5s infinite linear;


        img {
            position: absolute;
            top: 50px;
            animation: rain 1.5s linear forwards;


        }
    }
}

@keyframes move {
    0% {
        transform: translateX(-30px);

    }

    50% {
        transform: translateX(350px);

    }

    100% {
        transform: translateX(-30px);
    }
}

@keyframes rain {
    0% {
        transform: translateY(0) scale(1);
    }

    80% {
        transform: translateY(300px) scale(1);
    }

    100% {
        transform: translateY(290px) scale(1.3);
        opacity: 0;
    }
}


@media screen and (max-height:700px) {
    .other2 {
    
        width: 50vw;
        height: 50vw;
        position: absolute;
        bottom: 45vh;
        left: -20vw;
    
    }
    
    .other3 {
        width: 60vw;
        height:60vw;
        bottom: -30vw;
        right: -30vw;
    }
    main .home .box #textone {
        font-size: 40px;
        letter-spacing: 10px;
    }
   
    header .second .left img {
        transform: translate(0,-3vh);
    }


    #cross {
        transform: translateY(-40px);
        
    }
  #cross #man{
    width: 60px;
    height: 50px;
  }


    main {
        transform: translateY(-40px);
    }

        main .home .body{
            padding: 0;
        }
    

    main .home .body img {
        width: 150px;
        height: 45px;
    }

    main .home .body .bottom .left {
        width: 40px;
        height: 120px;

    }

    main .home .body .bottom .right {
        width: 40px;
        height: 120px;

    }

    main .home .body .bottom .mid {
        width: 150px;
        height: 150px;

    }
   
    main .home .box .countdown button .over {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .home .box .countdown button .over .one{
        width: 45px;
        height: 45px;
        transform: translate(0,0px);
    }
    main .home .box .countdown button .back {
        width: 25px;
        height: 25px;

        transform: translate(10px, 10px);
        font-size: 15px;
    }

    main .home .box {
        transform: translateY(-110px);
    }

    main .home .box p {
        font-size: 40px;
        letter-spacing: 10px;
    }

    footer {
        transform: translateY(35px);
    }


}

@media screen and (min-width:700px) {
    .all {
        display: block;
    }

    #cross {
        transform: translateY(-40px);

    }

    #cross #man {
        width: 120px;
        height: 90px;

        animation: move 8s infinite linear;
    }


    @keyframes move {
        0% {
            transform: translateX(100px);
        }

        50% {
            transform: translateX(1100px);

        }

        100% {
            transform: translateX(100px);
        }
    }

    footer img {
        width: 78%;
    }

    header {
        .second {
            .left {
                width: 13%;
            }

            .right {
                width: 20%;
                transform: translateY(3px);
            }
        }
    }

    .other1 {
        width: 50vh;
        height: 50vh;
        top: 20px;
        right: -25vh;
    }

    .other2 {
        width: 50vh;
        height: 50vh;
        bottom: -25vh;
        left: -25vh;
        animation: drotate 20s infinite linear;
    }

    .other3 {
        width: 50vh;
        height: 50vh;
        bottom: -25vh;
        right: -25vh;
    }

    @keyframes drotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-360deg);
        }
    }

    .fu {

        width: 120px;
        height: 120px;
        top: 45vh;
        left: 3vw;
        animation: shake 2s infinite linear;
        z-index: 5;
    }

    .greeting {

        width: 300px;
        padding: 20px 5px;

        font-size: 40px;
        font-family: 华文行楷, Arial, Lucida Grande, Tahoma, sans-serif;
        animation: moveAndFade 5s forwards;
        z-index: 4;
    }

    @keyframes moveAndFade {
        0% {
            left: 0;
            opacity: 1;
        }

        50% {
            left: 40vw;
            opacity: 1;
            transform: scale(0.8);
        }

        100% {
            left: 100vw;
            opacity: 0;
            transform: scale(0);
        }
    }

    main {
        .home {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-end;

            .body {
                transform: translateX(0);

                img {
                    width: 260px;
                    height: 90px;
                    z-index: 4;
                }

                .bottom {

                    .left,
                    .right {
                        width: 80px;
                        height: 190px;
                        z-index: 4;
                    }


                    .mid {
                        width: 230px;
                        height: 230px;

                    }
                }
            }

            .box {
                transform: translate(-30px, 5px);

                #sanzi {
                    width: 65px;
                    height: 65px;
                    transform: translate(60px, -16px) rotate(30deg);

                }

                #lantern {
                    width: 35px;
                    height: 70px;

                    bottom: -50px;
                    left: 133px;
                }


                p {
                    font-size: 80px;
                    letter-spacing: 20px;

                }

                #textone {
                    font-size: 70px;
                    letter-spacing: 15px;
                }


                .countdown button .back {
                    width: 70px;
                    height: 70px;
                    transform: translate(15px, 15px);
                    font-size: 36px;

                }

            }

        }
    }

    main .home .box .countdown button .over {
        width: 130px;

        height: 130px;
    }

    main .home .box .countdown button .one {
        width: 100px;
        height: 100px;
        transform: translate(0, 13px);

    }

    main .home .box .countdown button .two {
        width: 100px;
        height: 100px;
        transform: translate(0, 13px);

    }
}






/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈刀隶体 Regular";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/kuIdAqD1jByC/vqHNBqXf3zjC.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/kuIdAqD1jByC/W8FflOgtgcpC.woff") format("woff");
    font-display: swap;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈灵动体 VF Thin";
    src: url("//at.alicdn.com/wf/webfont/kuIdAqD1jByC/NJligJ21mASB.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/kuIdAqD1jByC/mhEywLyKuzli.woff") format("woff");
    font-display: swap;
}